<div class="inicio-container">
  <h2>Módulo de Nómina</h2>

  <div class="nomina-grid">

    <!-- Botón Ajustes -->
    <div>
      <a routerLink="nomina/ajustes" class="btn btn-primary btn-block">Ajustes de Nómina</a>
    </div>

    <!-- Botón Bono -->
    <div>
      <a routerLink="nomina/bono" class="btn btn-success btn-block">Bono Mera Liberalidad</a>
    </div>

    <!-- Botón Rodamiento -->
    <div>
      <a routerLink="nomina/auxiliorodamiento" class="btn btn-info btn-block">Auxilio de Rodamiento</a>
    </div>

    <!-- Botón Descuento -->
    <div>
      <a routerLink="nomina/descuento" class="btn btn-warning btn-block">Descuento de Nómina</a>
    </div>

    <!-- Botón Cesantías -->
    <div>
      <a routerLink="nomina/cesantias" class="btn btn-danger btn-block">Retiro de Cesantías</a>
    </div>


  </div>
</div>
