<div class="sidebar">
    <div class="brand">
    <h3>BPM System</h3>
    </div>
    <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="active" class="menu-item">
        📊 Dashboard
    </a>
    <a routerLink="/solicitudes" routerLinkActive="active" class="menu-item">
        📝 Solicitudes
    </a>
    <a routerLink="/nomina" routerLinkActive="active" class="menu-item">
        💰 Nómina
    </a>
    <a routerLink="/retiro" routerLinkActive="active" class="menu-item">
        🚪 Retiro
    </a>
    <a routerLink="/sst" routerLinkActive="active" class="menu-item">
        ❤️ SST / Citas
    </a>
    <div class="logout" (click)="logout()">
        🚪 Cerrar Sesión
    </div>
    </nav>
</div>