<div class="inicio-container">
  <h2>Módulo de Seguridad y Salud</h2>

  <div class="seguridad-grid">

    <!-- Botón Ajustes -->
    <div>
      <a routerLink="/seguridad/embarazo" class="btn btn-primary btn-block">Reportes de Embarazo</a>
    </div>

    <!-- Botón Bono -->
    <div>
      <a routerLink="/seguridad/condicion-especial" class="btn btn-success btn-block">Reporte de Condicion Especial y Salud</a>
    </div>

    <!-- Botón Rodamiento -->
    <div>
      <a routerLink="/seguridad/accidente" class="btn btn-info btn-block">Accidentes Laborales</a>
    </div>
  </div>
</div>
